<?xml version="1.0"?>
<ruleset name="mtunicredit">
	<description>WordPress Coding Standards for the УНИ Кредит WooCommerce plugin.</description>

	<file>.</file>

	<arg name="extensions" value="php"/>
	<arg name="colors"/>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/.git/*</exclude-pattern>
	<exclude-pattern>/.intelephense-stubs.php</exclude-pattern>
	<exclude-pattern>/.intelephense-stubs/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>*.min.js</exclude-pattern>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>

	<rule ref="PHPCompatibilityWP"/>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
